.image_center {
  margin-left: 60px;
  margin-right: auto;
}


h2.header2 {
  font-style: oblique;
  font-size: 200%;
}

h1.title {
  font-size: xx-large;
  text-align: center;
  color: white;
  font-style: oblique;
}

p.review {
  padding: 50px;
  font-size: 100%;
  text-align: left;
  color: grey;
  font-style: oblique;
}

a.button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  width: 100px;
  display: inline-block;
  background: url(images/guinness_button.jpg);
  padding: 20px;
}
div.nav {
  padding-top: 10px;
  display: block;
  text-align: center;
}
.header {
  display: none;
}

div.content {
  padding: 10px;
  width: 55%;
  margin: auto;
  background-color: rgba(255, 240, 160,.7);
}

body {
  background-image: none;
  background-color: black;
}

iframe {
  margin: 0 auto;
}

footer {
  color: white;
  font-size: small;
  text-align: center;
}

.gallery {
text-align: center
}

p {
  font-size: 15px;
}
